<div class="container">
  <div class="row">
    <div class="col-md-6 border-end">
      <div class="col">
        <button type="button" id="frion68" class="btn btn-primary btn-lg">Frion68</button>
        <button type="button" class="btn btn-primary btn-lg">Frion69</button>
      </div>
      <p>전체 업로드 개수 _개</p>
      
      <div class="row">
        <p>키워드별</p>
        <div class="col">
          <span>6i7 _개</span>
          <button>목록</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>6i7 _개</p>
      <div class="row">
        <p>제품이름-제품코드</p>
      </div>
    </div>
  </div>
</div>