<div class="container">
  <div class="d-grid gap-2 d-md-block mb-3">
    <button class="btn btn-primary btn-lg" type="button">Frion68</button>
    <button class="btn btn-primary btn-lg" type="button">Frion69</button>
  </div>
  <div class="d-grid gap-2 d-md-block mb-3">
    <button class="btn btn-primary" type="button">6i7</button>
    <button class="btn btn-primary" type="button">6i8</button>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <div class="row mb-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">제목</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">상품이름</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">상품번호</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">정가</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput">
              <label for="floatingInput">할인가</label>
            </div>
          </div>
        </div>
        <div class="row mb-2 g-2">
          <label class="col-2">사이즈</label>
          <div class="col">
            <button class="btn btn-primary" type="button">남자 상의</button>
            <button class="btn btn-primary" type="button">남자 하의</button>
            <button class="btn btn-primary" type="button">여자 상의</button>
            <button class="btn btn-primary" type="button">여자 하의</button>
            <button class="btn btn-primary" type="button">모자</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="text-start">
              <label class="form-check-label" for="flexCheckDefault">
                진행완료
              </label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <div class="text-start">
              <label class="form-check-label" for="flexCheckDefault">
                비고
              </label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <img src="" alt="My Image" width="500" height="300" title="A beautiful image">
        </div>
        <div class="row gy-2">
          <button type="button" class="btn btn-primary btn-sm">상품 사이트 이동</button>
          <button type="button" class="btn btn-primary btn-sm">이미지 1 링크</button>
          <button type="button" class="btn btn-primary btn-sm">이미지 2 링크</button>
          <button type="button" class="btn btn-primary btn-sm">이미지 3 링크</button>
        </div>
      </div>
    </div>

  </div>
</div>